@model IEnumerable<AppGym.Models.Jornadas>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreJornada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasJornada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreDias)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreJornada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiasJornada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDias)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdJornada">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdJornada">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdJornada">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
