@model AppGym.Models.Empleados

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["nameHeader"] = "Eliminar empleado "+Model.NombresEmpleado;
    ViewData["head"] = true;
}

<br />

<div class="row">
    <div class="col-md-3">
        Nombres
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.NombresEmpleado)
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        Apellidos
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.ApellidosEmpleado)
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        Telefono
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.TelefonoEmpleado)
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        Nombre de usuario
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.NombreSesionEmpleado)
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        Nombre de la Jornada
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.IdJornadaEmpleadoNavigation.NombreJornada)
    </div>
</div>
<br /><br />
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEmpleado" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
