@model AppGym.Models.Empleados

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["nameHeader"] = "Detalles del empleado "+Model.NombresEmpleado;
    ViewData["head"] = true;
}

<br />

<div class="row">
    <div class="col-md-3">
        Nombres
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.NombresEmpleado)
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        Apellidos
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.ApellidosEmpleado)
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        Telefono
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.TelefonoEmpleado)
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        Nombre de usuario
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.NombreSesionEmpleado)
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        Nombre de la Jornada
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.IdJornadaEmpleadoNavigation.NombreJornada)
    </div>
</div>
<br /><br />
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.IdEmpleado">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
